<header class="sticky-top">
  <div class="card border-0 bg-dark nav-card">
    <div class="container">
      <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="/">
          <img src="./assets/images/logo/logo2.png" class="img-fluid img-logo" alt="" />
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
          aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav me-auto mt-2 mt-lg-0">
          </ul>
          <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item mt-1 mx-3">
              <a [class]="route.url == '/' ? 'nav-link active' : 'nav-link'" href="/" aria-current="page">Accueil</a>
            </li>
            <li class="nav-item mt-1 mx-3">
              <a [class]="route.url == '/service' ? 'nav-link active' : 'nav-link'" href="#">Services</a>
              <!-- <div class="d-flex justify-content-center" 
                style="position: absolute; margin-top: 7px; margin-left: 25px;">
                <div class="arrow-up" id="fleche">
                </div>
              </div> -->
            </li>
            <li class="nav-item mt-1 mx-3">
              <a [class]="route.url == '/portfolio' ? 'nav-link active' : 'nav-link'" href="/portfolio">Portfolio</a>
            </li>
            <li class="nav-item mt-1 mx-3">
              <a [class]="route.url == '/about' ? 'nav-link active' : 'nav-link'" href="/about">A propos</a>
            </li>
          </ul>
          <ul class="navbar-nav me-auto mt-2 mt-lg-0">
          </ul>
          <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item ml-4">
              <a class="nav-link btn btn-primary btn-block w-100" href="/devis">Demander un devis</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>

<div>
 
</div>
