<section class="top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="bar left">
          <div class="bary"></div>
          <h5>Nos services</h5>
        </div>
        <div class="my-2">
          <!-- <h3 class="fw-bold">
            Nous sommes impatients de collaborer avec vous et de contribuer à votre succès.
          </h3> -->
        </div>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-md-4 brd border-bottom">
        <a href="/service/1" class="a nav-link">
          <div class="card p-4 border-0 nav-card">
            <h1 class="text-primary">
              <img src="/assets/images/icons/communication.png" class="icon" alt="">
              <!-- <i class="mdi mdi-content-paste title"></i> -->
            </h1>
            <h4 class="text-dark mt-4 fw-bold">
              Communication Digitale
            </h4>
            <div class="mt-3">
              <ul class="description">
                <li>Création Publicitaires</li>
                <li>Stratégie de communication</li>
                <li>Branding</li>
                <li>Identité visuelle</li>
                <li>Conception graphique</li>
                <li>Illustration</li>
                <li>Maquette 3D</li>
              </ul>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 brd border-left border-bottom">
        <div class="card p-4 border-0 nav-card">
          <h1 class="text-primary">
            <img src="/assets/images/icons/maintenance.png" class="icon" alt="">
            <!-- <i class="mdi mdi-content-paste title"></i> -->
          </h1>
          <h4 class="text-dark mt-4 fw-bold">
            Solution informatique, Maintenance et Réseaux
          </h4>
          <div class="mt-3">
            <ul class="description">
              <li>Web Design</li>
              <li>Creation de site Web</li>
              <li>Applicaiton Web</li>
              <li>Application Mobile</li>
              <li>Applicaiton Desktop</li>
              <li>Technique de maintenance</li>
              <li>Configuration reseaux / Mikrotik</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 brd border-left border-bottom">
        <div class="card p-4 border-0 nav-card">
          <h1 class="text-primary">
            <img src="/assets/images/icons/event.png" class="icon" alt="">
            <!-- <i class="mdi mdi-content-paste title"></i> -->
          </h1>
          <h4 class="text-dark mt-4 fw-bold">Evènementiel</h4>
          <br />
          <div class="mt-3">
            <ul class="description">
              <li>Organisation d'évènement</li>
              <li>Placement d'hotesse</li>
              <li>Déco Intérieur</li>
              <li>Mise en place logistique</li>
              <li>Décoration</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 brd">
        <div class="card p-4 border-0 nav-card">
          <h1 class="text-primary">
            <img src="/assets/images/icons/formation.png" class="icon" alt="">
            <!-- <i class="mdi mdi-content-paste title"></i> -->
          </h1>
          <h4 class="text-dark mt-4 fw-bold">Formation professionnelle</h4>
          <div class="mt-3">
            <ul class="description" style="text-align: left !important;">
              <li>
                  Formation en presentiel / ligne
                  <ul>
                      <li>Création de publicités</li>
                      <li>Graphisme (Les notions de base, Photoshop, Illustrator & InDesign)</li>
                      <li>Web design (UI/UX) Figma</li>
                      <li>Developpement Web</li>
                      <li>Microsoft Office (Excel analyse de données, Excel avancé, Word, PowerPoint)</li>
                  </ul>
              </li>
              <!-- <li>Spécialisation</li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 brd border-left">
        <div class="card p-4 border-0 nav-card">
          <h1 class="text-primary">
            <img src="/assets/images/icons/imprimerie.png" class="icon" alt="">
            <!-- <i class="mdi mdi-content-paste title"></i> -->
          </h1>
          <h4 class="text-dark mt-4 fw-bold">Imprimerie</h4>
          <div class="mt-3">
            <ul class="description">
              <li>Impression numérique</li>
              <li>Serigraphie</li>
              <li>Panneaux signalétique</li>
              <li>Gravure</li>
              <li>Customisation</li>
              <li>Réalisation de trophée</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 brd border-left">
        <div class="card p-4 border-0 nav-card">
          <h1 class="text-primary">
            <img src="/assets/images/icons/location.png" class="icon" alt="">
            <!-- <i class="mdi mdi-content-paste title"></i> -->
          </h1>
          <h4 class="text-dark mt-4 fw-bold">Service de location</h4>
          <div class="mt-3">
            <ul class="description">
              <li>Location de materiel / Evènementiel</li>
              <li>Location de Panneaux publicitaire</li>
              <li>Location de voiture</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img
          src="./assets/images/service/solution.jpg"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
</section> -->
