<section class="top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="bar left">
          <div class="bary"></div>
          <h5>Nos services</h5>
        </div>
        <div class="my-2">
          <h3 class="fw-bold">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          </h3>
        </div>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-md-4 brd border-bottom">
        <a href="/service/1" class="a nav-link">
          <div class="card p-4 border-0 nav-card">
            <h1 class="text-primary">
              <i class="mdi mdi-content-paste title"></i>
            </h1>
            <h4 class="text-dark mt-4 fw-bold">
              Communication / Marketing Digitale
            </h4>
            <div class="mt-3">
              <ul class="description">
                <li>Strategie de communication</li>
                <li>Branding</li>
                <li>Conception graphique</li>
                <li>Identité visuel</li>
                <li>Campagne Publicitaire</li>
                <li>Illustration</li>
                <li>Maquette 3D</li>
              </ul>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 brd border-left border-bottom">
        <div class="card p-4 border-0 nav-card">
          <h1 class="text-primary">
            <i class="mdi mdi-content-paste title"></i>
          </h1>
          <h4 class="text-dark mt-4 fw-bold">
            Realisation de plateforme informatique
          </h4>
          <div class="mt-3">
            <ul class="description">
              <li>Web Design</li>
              <li>Creation de site Web</li>
              <li>Applicaiton Web</li>
              <li>Application Mobile</li>
              <li>Applicaiton Desktop</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 brd border-left border-bottom">
        <div class="card p-4 border-0 nav-card">
          <h1 class="text-primary">
            <i class="mdi mdi-content-paste title"></i>
          </h1>
          <h4 class="text-dark mt-4 fw-bold">Evenementielle</h4>
          <br />
          <div class="mt-3">
            <ul class="description">
              <li>Organisation d'evenement</li>
              <li>Placement d'hoteste</li>
              <li>Deco Interieur</li>
              <li>Mise en place logistique</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 brd">
        <div class="card p-4 border-0 nav-card">
          <h1 class="text-primary">
            <i class="mdi mdi-content-paste title"></i>
          </h1>
          <h4 class="text-dark mt-4 fw-bold">Formation professionnelle</h4>
          <div class="mt-3">
            <ul class="description">
              <li>Formation sur mesure adapter a chaque entreprise</li>
              <li>Formation en ligne</li>
              <li>Spécialisation</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 brd border-left">
        <div class="card p-4 border-0 nav-card">
          <h1 class="text-primary">
            <i class="mdi mdi-content-paste title"></i>
          </h1>
          <h4 class="text-dark mt-4 fw-bold">Imprimerie</h4>
          <div class="mt-3">
            <ul class="description">
              <li>Impression numérique</li>
              <li>Serigraphie</li>
              <li>Paneaux signalitique</li>
              <li>Gravure</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 brd border-left">
        <div class="card p-4 border-0 nav-card">
          <h1 class="text-primary">
            <i class="mdi mdi-content-paste title"></i>
          </h1>
          <h4 class="text-dark mt-4 fw-bold">Service de location</h4>
          <div class="mt-3">
            <ul class="description">
              <li>Location de materiel / Evenementiel</li>
              <li>Location de paneaux publicitaire</li>
              <li>Location de voiture</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img
          src="./assets/images/service/solution.jpg"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
