<section class="top">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 mb-4">
        <img [src]="env + '/files/get?object=' + dataPub?.imageCoverPath" class="img-fluid img8 w-100" alt="" />
      </div>
      <div class="col-md-6 offset-md-3">
        <div class="bar left">
          <div class="bary"></div>
          <h5>{{ dataPub?.category.name }}</h5>
        </div>
        <div class="my-2">
          <h3 class="fw-bold">
            {{ dataPub?.title }}
          </h3>
          <div class="mt-4">
            <p class="description" style="white-space: pre-line;">{{ dataPub?.content }}</p>
          </div>
        </div>
        <div class="my-5">
          <!-- <button class="btn btn-primary btn-lg">
            Lire plus <i class="mdi mdi-arrow-right"></i>
          </button> -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="bg-light top">
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-4">
        <div class="bar left">
          <div class="bary"></div>
          <h5>Communication / Marketing Digitale</h5>
        </div>
        <div class="my-2">
          <h3 class="fw-bold">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem,
            ipsum dolor sit amet consectetur adipisicing elit. Saepe,
            quaerat?
          </h3>
        </div>
      </div>
      <div class="col-md-6 my-4">
        <h3 class="fw-bold">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        </h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero cum
          assumenda ab aliquam consequuntur voluptate possimus voluptatem
          molestiae aperiam. Deserunt, porro saepe ipsam ad corrupti maiores
          ea blanditiis optio? Quasi!
        </p>
        <h3 class="fw-bold mt-3">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        </h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero cum
          assumenda ab aliquam consequuntur voluptate possimus voluptatem
          molestiae aperiam. Deserunt, porro saepe ipsam ad corrupti maiores
          ea blanditiis optio? Quasi!
        </p>
      </div>
      <div class="col-md-6 my-4">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/5l21VHUour4"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</section>

<section class="top">
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-4">
        <div class="bar left">
          <div class="bary"></div>
          <h5>Communication / Marketing Digitale</h5>
        </div>
        <div class="my-2">
          <h3 class="fw-bold">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem,
            ipsum dolor sit amet consectetur adipisicing elit. Saepe,
            quaerat?
          </h3>
        </div>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-md-4 brd border-bottom">
        <a href="/detail_service.html" class="a nav-link">
          <div class="card p-4 border-0 nav-card">
            <img
              src="./assets/images/banner/01.jpg"
              class="img-fluid img-service"
              alt=""
            />
            <h4 class="text-dark mt-4 fw-bold">
              Strategie de communication
            </h4>
            <div class="mt-3">
              <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Reiciendis, eaque!
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 brd border-left border-bottom">
        <div class="card p-4 border-0 nav-card">
          <img
            src="./assets/images/banner/01.jpg"
            class="img-fluid img-service"
            alt=""
          />
          <h4 class="text-dark mt-4 fw-bold">Branding</h4>
          <div class="mt-3">
            <p class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reiciendis, eaque!
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 brd border-left border-bottom">
        <div class="card p-4 border-0 nav-card">
          <img
            src="./assets/images/banner/01.jpg"
            class="img-fluid img-service"
            alt=""
          />
          <h4 class="text-dark mt-4 fw-bold">Conception graphique</h4>
          <div class="mt-3">
            <p class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reiciendis, eaque!
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 brd border-bottom">
        <div class="card p-4 border-0 nav-card">
          <img
            src="./assets/images/banner/01.jpg"
            class="img-fluid img-service"
            alt=""
          />
          <h4 class="text-dark mt-4 fw-bold">Identité visuel</h4>
          <div class="mt-3">
            <p class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reiciendis, eaque!
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 brd border-left border-bottom">
        <div class="card p-4 border-0 nav-card">
          <img
            src="./assets/images/banner/01.jpg"
            class="img-fluid img-service"
            alt=""
          />
          <h4 class="text-dark mt-4 fw-bold">Campagne Publicitaire</h4>
          <div class="mt-3">
            <p class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reiciendis, eaque!
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 brd border-left border-bottom">
        <div class="card p-4 border-0 nav-card">
          <img
            src="./assets/images/banner/01.jpg"
            class="img-fluid img-service"
            alt=""
          />
          <h4 class="text-dark mt-4 fw-bold">Illustration</h4>
          <div class="mt-3">
            <p class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reiciendis, eaque!
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 brd">
        <div class="card p-4 border-0 nav-card">
          <img
            src="./assets/images/banner/01.jpg"
            class="img-fluid img-service"
            alt=""
          />
          <h4 class="text-dark mt-4 fw-bold">Maquette 3D</h4>
          <div class="mt-3">
            <p class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reiciendis, eaque!
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 brd border-left">
        <div class="card p-4 border-0 nav-card"></div>
      </div>
      <div class="col-md-4 brd border-left">
        <div class="card p-4 border-0 nav-card"></div>
      </div>
    </div>
  </div>
</section> -->
