<section class="top">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <div class="bar left">
          <div class="bary"></div>
          <h5 class="elephant">Effectuer une demande <br>
            de devis</h5>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-md-6">
        <img src="./assets/images/service/dev.jpg" class="img-fluid" alt="" />
      </div>
      <div class="col-md-6 my-4">
        <form action="" method="post">
          <div class="row">
            <div class="col-md-6 mb-4 form-group">
              <label for="">Nom*</label>
              <input type="text" class="form-control form-control-lg input" placeholder="Nom">
            </div>
            <div class="col-md-6 mb-4 form-group">
              <label for="">Prenom*</label>
              <input type="text" class="form-control form-control-lg input" placeholder="Prenom">
            </div>
            <div class="col-md-6 mb-4 form-group">
              <label for="">Numero de téléphone*</label>
              <input type="tel" class="form-control form-control-lg input" placeholder="Numero de téléphone">
            </div>
            <div class="col-md-6 mb-4 form-group">
              <label for="">Email*</label>
              <input type="email" class="form-control form-control-lg input" placeholder="Adresse email">
            </div>
            <div class="col-md-6 mb-4 form-group">
              <label for="">Nom du projet</label>
              <input type="projet" class="form-control form-control-lg input" placeholder="Nom du projet">
            </div>
            <div class="col-md-6 mb-4 form-group">
              <label for="">Domaine*</label>
              <input type="domaine" class="form-control form-control-lg input" placeholder="Domaine">
            </div>
            <div class="col-md-12 mb-4 form-group">
              <label for="">Description*</label>
              <textarea type="domaine" class="form-control form-control-lg input" rows="10" cols="10"
                placeholder="Description"></textarea>
            </div>
            <div class="col-md-12 mb-4 form-group">
              <button class="btn btn-primary">Envoyer</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>

</section>
