
<footer class="top bg-light p-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4 class="text-dark fw-bold">Rejoignez notre Newsletter</h4>
        <p class="my-4 text-dark">
          Insérez votre mail pour obtenir les dernières offres et <br />
          mises à jour.
        </p>
      </div>
      <div class="col-md-6">
        <form action="" method="post">
          <div class="input-group">
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="Adresse email..."
            />
            <button class="btn btn-primary btn-lg py-4">Envoyer</button>
          </div>
        </form>
      </div>
      <div class="my-4 col-md-12">
        <hr class="hr" />
      </div>
    </div>
    <div class="row my-5">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-10">
            <p class="text-dark text-justify">
              Nous sommes une entreprise numérique reconnue pour notre
              travail d'excellence dans le domaine de la création graphique.
              Nous sommes animés par une passion et un engagement constant
              envers notre travail quotidien, en nous efforçant de créer des
              conceptions graphiques uniques qui reflètent l'essence et les
              objectifs de chaque client. Nous sommes déterminés à nous
              faire connaître dans le secteur numérique grâce à notre
              approche professionnelle et à notre engagement
              envers l'excellence.
            </p>
          </div>
        </div>
        <div class="my-5">
          <a
            target="_blank"
            href="https://www.facebook.com/profile.php?id=100088956525609&mibextid=ZbWKwL"
            class="btn btn-primary mx-2"
          >
            <i class="mdi mdi-facebook"></i>
          </a>
          <a
            target="_blank"
            href="https://instagram.com/agence__07?igshid=ZDdkNTZiNTM="
            class="btn btn-primary mx-2"
          >
            <i class="mdi mdi-instagram"></i>
          </a>
          <a
            target="_blank"
            href="https://www.linkedin.com/company/agencezero7/"
            class="btn btn-primary mx-2"
          >
            <i class="mdi mdi-linkedin"></i>
          </a>
          <button class="btn btn-primary mx-2">
            <i class="mdi mdi-twitter"></i>
          </button>
        </div>
      </div>
      <div class="col-md-2">
        <h4 class="text-dark fw-bold">Liens Rapides</h4>
        <div class="bary my-4"></div>
        <div class="my-5">
          <ul class="text-dark ul">
            <li>Accueil</li>
            <li>Communication digitale</li>
            <li>Developpment d'application</li>
            <li>Evènementiel</li>
            <li>Formation Professionnelle</li>
            <li>Imprimerie</li>
            <li>Service de location</li>
            <li>Maintenance & Réseaux</li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <h4 class="text-dark fw-bold">Liens Utiles</h4>
        <div class="bary my-4"></div>
        <div class="my-5">
          <ul class="text-dark ul">
            <li>Recrutement</li>
            <li>Termes et Conditions</li>
            <li>Portfolio</li>
            <li>Contactez-nous</li>
            <li>A propos</li>
            <li>Mention legale</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <!-- <div class="card border-0 card-body"> -->
        <h4 class="text-dark fw-bold">Nous contactez</h4>
        <div class="bary my-4"></div>
        <div class="my-5">
          <p class="text-dark">
            <a
              target="_blank"
              href="mailto:contact@agence07.net"
              class="a text-dark"
              >contact@agence07.net</a
            >
          </p>
          <p class="text-dark">
            +228
            <a target="_blank" href="tel:+22891056714" class="a text-dark"
              >91 05 67 14</a
            >
            /
            <a target="_blank" href="tel:+228996296767" class="a text-dark"
              >96 29 67 67</a
            >
            <br />
            <a href="tel:+22891966802" class="a text-dark"
              >+228 91 96 68 02</a
            >
          </p>
          <p class="text-dark">
            <a
              target="_blank"
              href="https://www.google.com/maps?ll=6.190667,1.157694&z=15&t=m&hl=fr&gl=TG&mapclient=embed"
              class="a text-dark"
              >Adidogomé CEG <br />
              Derrière la pharmacie des écoles</a
            >
          </p>
        </div>
        <!-- <div>
            <a target="_blank" href="mailto:contact@agence07.net" class="btn btn-primary btn-lg btn-block w-100">
              Contactez-nous
            </a>
          </div> -->
        <!-- </div> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr class="hr" />
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <p class="text-dark text-right">Agence07</p>
      <p class="text-dark text-right">
        Copyright © 2021. Tous droits réservés.
      </p>
    </div>
  </div>
</footer>
