
<footer class="top bg-dark p-5">
  <div class="container">
    <!-- <div class="row">
      <div class="col-md-6">
        <h4 class="text-white fw-bold">Rejoignez notre Newsletter</h4>
        <p class="my-4 text-white">
          Insérez votre mail pour obtenir les dernières offres et <br />
          mises à jour.
        </p>
      </div>
      <div class="col-md-6">
        <form action="" method="post">
          <div class="input-group">
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="Adresse email..."
            />
            <button class="btn btn-primary btn-lg py-4">Envoyer</button>
          </div>
        </form>
      </div>
      <div class="my-4 col-md-12">
        <hr class="hr" />
      </div>
    </div> -->
    <div class="row my-5">
      <!-- <div class="col-md-5">
        <div class="row">
          <div class="col-md-10">
            <p class="text-white text-justify">
              Nous sommes une entreprise numérique reconnue pour notre
              travail d'excellence dans le domaine de la création graphique.
              Nous sommes animés par une passion et un engagement constant
              envers notre travail quotidien, en nous efforçant de créer des
              conceptions graphiques uniques qui reflètent l'essence et les
              objectifs de chaque client. Nous sommes déterminés à nous
              faire connaître dans le secteur numérique grâce à notre
              approche professionnelle et à notre engagement
              envers l'excellence.
            </p>
          </div>
        </div>
        <div class="my-5">
          <a
            target="_blank"
            href="https://www.facebook.com/profile.php?id=100088956525609&mibextid=ZbWKwL"
            class="text-primary mx-2"
          >
            <i class="mdi mdi-facebook" style="font-size: 25px !important;"></i>
          </a>
          <a
            target="_blank"
            href="https://instagram.com/agence__07?igshid=ZDdkNTZiNTM="
            class="text-primary mx-2"
          >
            <i class="mdi mdi-instagram" style="font-size: 25px !important;"></i>
          </a>
          <a
            target="_blank"
            href="https://www.linkedin.com/company/agencezero7/"
            class="text-primary mx-2"
          >
            <i class="mdi mdi-linkedin" style="font-size: 25px !important;"></i>
          </a>
        </div>
      </div> -->
      <div class="col-md-2">
        <h4 class="text-white fw-bold">Liens Rapides</h4>
        <div class="bary my-4"></div>
        <div class="my-5">
          <ul class="text-white ul">
            <!-- <li>Accueil</li> -->
            <li><a href="/" class="text-white a">Communication digitale</a></li>
            <li><a href="/" class="text-white a">Développement d'application</a></li>
            <li><a href="/" class="text-white a">Evènementiel</a></li>
            <li><a href="/" class="text-white a">Formation Professionnelle</a></li>
            <li><a href="/" class="text-white a">Imprimerie</a></li>
            <li><a href="/" class="text-white a">Service de location</a></li>
            <li><a href="/" class="text-white a">Maintenance & Réseaux</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 px-5">
        <h4 class="text-white fw-bold">Liens Utiles</h4>
        <div class="bary my-4"></div>
        <div class="my-5">
          <ul class="text-white ul">
            <li><a href="/" class="text-white a">Accueil</a> </li>
            <li><a href="/portfolio" class="text-white a">Portfolio</a> </li>
            <li><a href="/about" class="text-white a">A propos</a> </li>
            <li><a href="/" class="text-white a">Mention legale</a> </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <!-- <div class="card border-0 card-body"> -->
        <h4 class="text-white fw-bold">Nous contactez</h4>
        <div class="bary my-4"></div>
        <div class="my-5">
          <p class="text-white">
            <a
              target="_blank"
              href="mailto:contact@agence07.net"
              class="a text-white"
              >contact@a07.agency</a
            >
          </p>
          <p class="text-white">
            +228
            <a target="_blank" href="tel:+22891056714" class="a text-white"
              >91 05 67 14</a
            >
            /
            <a target="_blank" href="tel:+228996296767" class="a text-white"
              >96 29 67 67</a
            >
            <!-- <br />
            <a href="tel:+22891966802" class="a text-white"
              >+228 91 96 68 02</a
            > -->
          </p>
          <p class="text-white">
            <a
              target="_blank"
              href="https://www.google.com/maps?ll=6.190667,1.157694&z=15&t=m&hl=fr&gl=TG&mapclient=embed"
              class="a text-white"
              >Adidogomé CEG <br />
              Derrière la pharmacie des écoles</a
            >
          </p>
        </div>
      </div>
      <div class="col-md-5">
        <form action="" method="post">
          <div class="input-group">
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="Adresse email..."
            />
            <button class="btn btn-primary btn-lg py-4">Envoyer</button>
          </div>
        </form>
        <div class="my-5">

        <h4 class="text-white fw-bold text-right">Insérer votre mail pour <br> obtenir les dernières offres <br> et mise a jour.</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr class="hr" />
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">

      <p class="text-white text-left">Agence07  |  Copyright © 2021-2024. Tous droits réservés.</p>
      <div class="text-white d-flex justify-content-end align-items-center">
        <a
            target="_blank"
            href="https://www.facebook.com/profile.php?id=100088956525609&mibextid=ZbWKwL"
            class="text-white mx-2"
          >
            <i class="mdi mdi-facebook" style="font-size: 18px !important;"></i>
          </a>
          <a
            target="_blank"
            href="https://instagram.com/agence__07?igshid=ZDdkNTZiNTM="
            class="text-white mx-2"
          >
            <i class="mdi mdi-instagram" style="font-size: 18px !important;"></i>
          </a>
          <a
            target="_blank"
            href="https://www.linkedin.com/company/agencezero7/"
            class="text-white mx-2"
          >
            <i class="mdi mdi-linkedin" style="font-size: 18px !important;"></i>
          </a>
          <a
            target="_blank"
            href="https://www.linkedin.com/company/agencezero7/"
            class="text-white mx-2"
          >
            <i class="mdi mdi-behance" style="font-size: 22px !important;"></i>
          </a>
      </div>
    </div>
  </div>
</footer>
