<div class="container top">
  <div class="row my-5">
    <div class="col-md-5">
      <div class="bar left">
        <div class="bary"></div>
        <h5 class="elephant">AGENCE 07</h5>
      </div>
      <div class="my-5">
        <h3 class="title1">
          Des experts pour vous accompagner dans la mise en place de votre
          solution digitale
        </h3>
      </div>
      <div class="my-5">
        <a href="/about" class="a">
          <p class="description">
            En tant que prestataire de services numériques, nous sommes
            spécialisés dans l'accompagnement de nos clients dans la
            définition, l'élaboration et l'évaluation de leur stratégie de
            communication digitale afin d'améliorer leur visibilité et
            d'atteindre leur public cible...
          </p>
        </a>
      </div>
      <div class="my-5">
        <input type="search" class="form-control form-control-lg py-3" placeholder="Recherche ici ...">
        <!-- <a href="about.html" class="btn btn-primary btn-lg">
          Lire plus <i class="mdi mdi-arrow-right"></i>
        </a> -->
        <!-- <button class="btn btn-light btn-lg mx-4">Contactez-nous</button> -->
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/images/banner/01.jpg" class="img-fluid img-banner" alt="" />
          </div>
          <div class="carousel-item">
            <img src="./assets/images/banner/02.jpg" class="img-fluid img-banner" alt="" />
          </div>
          <div class="carousel-item">
            <img src="./assets/images/banner/03.jpg" class="img-fluid img-banner" alt="" />
          </div>
          <div class="carousel-item">
            <img src="./assets/images/banner/04.jpg" class="img-fluid img-banner" alt="" />
          </div>
          <div class="carousel-item">
            <img src="./assets/images/banner/05.jpg" class="img-fluid img-banner" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="top">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <div class="bar left">
          <div class="bary"></div>
          <h5 class="elephant">Comment pouvons-nous améliorer <br>
            votre entreprise</h5>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-md-4 brd">
        <div class="card p-4 border-0 nav-card">
          <h1 class="text-primary">
            <img src="/assets/images/icons/communication.png" class="icon" alt="">
            <!-- <i class="mdi mdi-apps title"></i> -->
          </h1>
          <h4 class="text-dark mt-4 fw-bold">Communication digitale</h4>
          <p>
            <small>
              Votre image de marque doit être planifiée, bien conçue,
              constante, et elle doit permettre au public cible de
              s’identifier aisément à votre entreprise. En aucun cas
              elle ne peut être improvisée, et elle demande un suivi
              régulier et sur le long terme.
            </small>
          </p><br />
          <div class="mt-3">
            <h5>
              <a href="/service">En savoir plus <i class="mdi mdi-arrow-right"></i></a>
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 brd border-left">
        <div class="card p-4 border-0 nav-card">
          <h1 class="text-primary">

            <img src="/assets/images/icons/event.png" class="icon" alt="">
            <!-- <i class="mdi mdi-apps title"></i> -->
          </h1>
          <h4 class="text-dark mt-4 fw-bold">Evènementiel</h4>

          <p>
            <small>
              De la planification minutieuse à l'exécution sans faille, nous prenons en charge tous les aspects pour que
              vous puissiez profiter de chaque instant.
            </small>
          </p><br />
          <div class="mt-3">
            <h5>
              <a href="/service">En savoir plus <i class="mdi mdi-arrow-right"></i></a>
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 brd border-left">
        <div class="card p-4 border-0 nav-card">
          <h1 class="text-primary">
            <img src="/assets/images/icons/dev.png" class="icon" alt="">
            <!-- <i class="mdi mdi-calendar-multiple-check title"></i> -->
          </h1>
          <h4 class="text-dark mt-4 fw-bold">Application Web/Mobile</h4>

          <p>
            <small>
              Un site Web représente bien plus qu'une simple carte de
              visite. Il n'indique pas seulement le nom et les
              coordonnées, mais il présente l'Entreprise à travers son
              histoire, les personnes...
            </small>
          </p><br />
          <div class="mt-3">
            <h5>
              <a href="/service">En savoir plus <i class="mdi mdi-arrow-right"></i></a>
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 brd border-top">
        <div class="card p-4 border-0 nav-card">
          <h1 class="text-primary">
            <img src="/assets/images/icons/formation.png" class="icon" alt="">
            <!-- <i class="mdi mdi-content-paste title"></i> -->
          </h1>
          <h4 class="text-dark mt-4 fw-bold">Formation Professionnelle</h4>
          <p>
            <small>
              La formation professionnelle est le processus
              d'apprentissage qui permet à un individu d'acquérir le
              savoir et les savoir-faire nécessaires à l'exercice d'un
              métier....
            </small>
          </p>
          <div class="mt-3">
            <h5>
              <a href="/service">En savoir plus <i class="mdi mdi-arrow-right"></i></a>
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 brd border-top border-left">
        <div class="card p-4 border-0 nav-card">
          <h1 class="text-primary">
            <img src="/assets/images/icons/imprimerie.png" class="icon" alt="">
            <!-- <i class="mdi mdi-content-paste title"></i> -->
          </h1>
          <h4 class="text-dark mt-4 fw-bold">Imprimerie</h4>
          <p>
            <small>
              De la papeterie aux brochures en passant par les supports promotionnels, notre technologie d'impression de
              pointe garantit des résultats impeccables. Faites ressortir votre marque avec des designs personnalisés
              qui reflètent votre identité et vos valeurs
            </small>
          </p>
          <div class="mt-3">
            <h5>
              <a href="/service">En savoir plus <i class="mdi mdi-arrow-right"></i></a>
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 brd border-top border-left">
        <div class="card p-4 border-0 nav-card">
          <h1 class="text-primary">
            <img src="/assets/images/icons/maintenance.png" class="icon" alt="">
            <!-- <i class="mdi mdi-content-paste title"></i> -->
          </h1>
          <h4 class="text-dark mt-4 fw-bold">Maintenance & Réseaux</h4>
          <p>
            <small>
              Prévenir les problèmes avant qu'ils ne surviennent. Notre équipe surveille vos systèmes et effectue des
              mises à jour régulières pour garantir leur performance.
            </small>
          </p>
          <div class="mt-3">
            <h5>
              <a href="/service">En savoir plus <i class="mdi mdi-arrow-right"></i></a>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- <section class="top">
  <div class="container my-5">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4">
            <div class="card border-0 bg-light mb-4">
              <img src="./assets/images/service/dev.jpg" class="img-fluid img1" alt="" />
            </div>
            <div class="card border-0 bg-light mb-4">
              <img src="./assets/images/service/event.jpg" class="img-fluid img1" alt="" />
            </div>
          </div>
          <div class="col-md-8">
            <div class="card border-0 bg-light mb-4">
              <img src="./assets/images/service/commication.jpg" class="img-fluid img2" alt="" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="card border-0 bg-light mb-4">
              <img src="./assets/images/service/Formation.jpg" class="img-fluid img3" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 pd-left">
        <div class="bar left">
          <div class="bary"></div>
          <h5>Domaine d'activité</h5>
        </div>

        <div class="row my-4">
          <div class="col-md-6 brd border-bottom">
            <div class="card p-4 border-0 nav-card">
              <h1 class="text-primary">
                <i class="mdi mdi-content-paste title"></i>
              </h1>
              <h4 class="text-dark mt-4 fw-bold">
                Communication Digitale
              </h4>
              <div class="mt-3">
                <p class="description">
                  L’équipe Bluehub sert toujours quelque chose de distinct.
                  Nous mélangeons une combinaison puissante ...
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 brd border-left border-bottom">
            <div class="card p-4 border-0 nav-card">
              <h1 class="text-primary">
                <i class="mdi mdi-content-paste title"></i>
              </h1>
              <h4 class="text-dark mt-4 fw-bold">
                Recherche & Developpement
              </h4>
              <div class="mt-3">
                <p class="description">
                  L’équipe Bluehub sert toujours quelque chose de distinct.
                  Nous mélangeons une combinaison puissante ...
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 brd  border-bottom">
            <div class="card p-4 border-0 nav-card">
              <h1 class="text-primary">
                <i class="mdi mdi-content-paste title"></i>
              </h1>
              <h4 class="text-dark mt-4 fw-bold">Evenementielle</h4>
              <div class="mt-3">
                <p class="description">
                  L’équipe Bluehub sert toujours quelque chose de distinct.
                  Nous mélangeons une combinaison puissante ... <br /><br />
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 brd border-left  border-bottom">
            <div class="card p-4 border-0 nav-card">
              <h1 class="text-primary">
                <i class="mdi mdi-content-paste title"></i>
              </h1>
              <h4 class="text-dark mt-4 fw-bold">
                Formation professionnelle
              </h4>
              <div class="mt-3">
                <p class="description">
                  L’équipe Bluehub sert toujours quelque chose de distinct.
                  Nous mélangeons une combinaison puissante ...
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 brd">
            <div class="card p-4 border-0 nav-card">
              <h1 class="text-primary">
                <i class="mdi mdi-content-paste title"></i>
              </h1>
              <h4 class="text-dark mt-4 fw-bold">Imprimerie</h4>
              <div class="mt-3">
                <p class="description">
                  L’équipe Bluehub sert toujours quelque chose de distinct.
                  Nous mélangeons une combinaison puissante ... <br /><br />
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 brd border-left">
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="top bg-white p-5">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div [class]="item.id == 1 ? 'carousel-item active' : 'carousel-item'" *ngFor="let item of dataPub">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <div class="my-5">
                <h3 class="title text-dark">{{ item.title }}</h3>
                <h6 class="text-primary">{{ item.category.name }}</h6>
              </div>
              <div class="my-5" >
                <p class="description text-dark" style="white-space: pre-line;">
                {{ item.content.substr(0, 800) }} ....
                </p>
                <div class="my-4">
                  <a
                    href="/article/1"
                    class="btn btn-primary">
                    Lire plus <i class="mdi mdi-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
              <div class="row my-4">
                <div class="card border-0 bg-none p-4 mb-4">
                  <img [src]="env + '/files/get?object=' + item.imageCoverPath" class="img-fluid border-radius"
                    alt="" />
                  <!-- ./assets/images/packs/01.jpg -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>


<section class="top bg-light">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-3">
        <div class="card p-4 bg-white border-0">
          <div class="row align-items-center mt-3">
            <div class="col-md-2">
              <h1 class="text-primary">
                <i class="mdi mdi-arrow-right title"></i>
              </h1>
            </div>
            <div class="col-md-8">
              <h3 class="fw-bold">150+</h3>
              <p>Projets réalisés</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card p-4 bg-white border-0">
          <div class="row align-items-center mt-3">
            <div class="col-md-2">
              <h1 class="text-primary">
                <i class="mdi mdi-arrow-right title"></i>
              </h1>
            </div>
            <div class="col-md-8">
              <h3 class="fw-bold">270.000+</h3>
              <p>Visites</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card p-4 bg-white border-0">
          <div class="row align-items-center mt-3">
            <div class="col-md-2">
              <h1 class="text-primary">
                <i class="mdi mdi-arrow-right title"></i>
              </h1>
            </div>
            <div class="col-md-8">
              <h3 class="fw-bold">88+</h3>
              <p>Devis reçu</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card p-4 bg-white border-0">
          <div class="row align-items-center mt-3">
            <div class="col-md-2">
              <h1 class="text-primary">
                <i class="mdi mdi-arrow-right title"></i>
              </h1>
            </div>
            <div class="col-md-8">
              <h3 class="fw-bold">109+</h3>
              <p>Partenaires</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="top p-5">
  <div class="container">
    <div class="row my-5">
      <div class="col-md-4">
        <div class="bar left">
          <div class="bary"></div>
          <h5 class="elephant">Portfolio</h5>
        </div>
        <div class="my-4">
          <h3 class="title">Quelques-uns de nos projets réalisés</h3>
        </div>
        <div class="my-5">
          <p>
            Ce qui suit est un petit exemple du travail que notre équipe
            peut gérer, des sites Web et applications complexes à la
            création de vidéos et bien plus encore
          </p>
        </div>
        <div class="my-5">
          <button class="btn btn-primary btn-lg">
            Voir Tous Les Projets <i class="mdi mdi-arrow-right"></i>
          </button>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12 mb-4 d-flex justify-content-start align-items-center">
            <h4 class="text-primary">
              <i class="mdi mdi-monitor title"></i>
            </h4>
            <h5 class="fw-bold mx-4">Projets</h5>
          </div>
          <div class="col-md-6 mb-4 brd border-left border-bottom"  *ngFor="let item of dataPortfolio">
            <div class="card p-4 border-0 bg-white nav-card">
              <div class="mb-4">
                <img [src]="env + '/files/get?object=' + item.imageCoverPath" class="img-fluid img-portfolio" alt="" />
              </div>
              <div>
                <h5 class="fw-bold">{{ item.title}}</h5>
                <div class="my-4">
                  <p class="description" style="white-space: pre-line;" [innerHTML]="item.description.substr(0, 300)">
                  </p>
                </div>
                <!-- <div class="my-4">
                  <h4>
                    <a href="#">Visiter le site <i class="mdi mdi-arrow-right"></i></a>
                  </h4>
                </div> -->
              </div>
            </div>
          </div>
          <!-- <div class="col-md-6 mb-4 brd border-left">
            <div class="card p-4 border-0 bg-white nav-card">
              <div class="mb-4">
                <img src="./assets/images/agence/10.jpg" class="img-fluid img-portfolio" alt="" />
              </div>
              <div>
                <h5 class="fw-bold">Covoiturage</h5>
                <div class="my-4">
                  <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing
                    elit. Iste rem ipsam ducimus doloremque cum fugit nulla
                    asperiores odit nihil.
                  </p>
                </div>
                <div class="my-4">
                  <h4>
                    <a href="#">Visiter le site <i class="mdi mdi-arrow-right"></i></a>
                  </h4>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <div class="row my-5">
         <!--  <div class="col-md-12 mb-4 d-flex justify-content-start align-items-center">
            <h4 class="text-primary">
              <i class="mdi mdi-monitor title"></i>
            </h4>
            <h5 class="fw-bold mx-4">Identité visuelle de la marque</h5>
          </div> -->
          <!-- <div class="col-md-6 mb-4 brd">
            <div class="card p-4 border-0 bg-white nav-card">
              <div class="mb-4">
                <img src="./assets/images/agence/9.jpg" class="img-fluid img-portfolio" alt="" />
              </div>
              <div>
                <h5 class="fw-bold">Royal Hotel Tchamba</h5>
                <div class="my-4">
                  <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing
                    elit. Iste rem ipsam ducimus doloremque cum fugit nulla
                    asperiores odit nihil.
                  </p>
                </div>
                <div class="my-4">
                  <h4>
                    <a href="#">Visiter le site <i class="mdi mdi-arrow-right"></i></a>
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4 brd border-left">
            <div class="card p-4 border-0 bg-white nav-card">
              <div class="mb-4">
                <img src="./assets/images/agence/10.jpg" class="img-fluid img-portfolio" alt="" />
              </div>
              <div>
                <h5 class="fw-bold">Covoiturage</h5>
                <div class="my-4">
                  <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing
                    elit. Iste rem ipsam ducimus doloremque cum fugit nulla
                    asperiores odit nihil.
                  </p>
                </div>
                <div class="my-4">
                  <h4>
                    <a href="#">Visiter le site <i class="mdi mdi-arrow-right"></i></a>
                  </h4>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="my-5">
  <div class="container">
    <div class="card p-4 border-0 bg-white nav-card">
      <div class="row">
        <div class="col-md-6">
          <div class="bar left">
            <div class="bary"></div>
            <h5>Accréditée</h5>
          </div>
          <div class="my-2">
            <h3 class="title">
              Ils sont plusieurs a nous faire confiance
            </h3>
          </div>
        </div>
        <div class="col-md-6">
          <p class="description text-right my-5">
            Nous sommes convaincus que notre passion pour notre métier se reflète dans chaque tâche que nous
            accomplissons, et nous sommes impatients de partager notre savoir-faire et notre créativité avec nos
            clients.
          </p>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-md-2">
          <div class="card p-4 border-0 bg-white nav-card">
            <img src="./assets/images/partner/1.jpg" class="img-fluid" alt="" />
          </div>
        </div>
        <div class="col-md-2">
          <div class="card p-4 border-0 bg-white nav-card">
            <img src="./assets/images/partner/2.jpg" class="img-fluid" alt="" />
          </div>
        </div>
        <div class="col-md-2">
          <div class="card p-4 border-0 bg-white nav-card">
            <img src="./assets/images/partner/3.jpg" class="img-fluid" alt="" />
          </div>
        </div>
        <div class="col-md-2">
          <div class="card p-4 border-0 bg-white nav-card">
            <img src="./assets/images/partner/4.jpg" class="img-fluid" alt="" />
          </div>
        </div>
        <div class="col-md-2">
          <div class="card p-4 border-0 bg-white nav-card">
            <img src="./assets/images/partner/5.jpg" class="img-fluid" alt="" />
          </div>
        </div>
        <div class="col-md-2">
          <div class="card p-4 border-0 bg-white nav-card">
            <img src="./assets/images/partner/6.jpg" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
