<section class="top">
  <div class="container">
    <div class="row">
      <div class="col-md-7 my-4">
        <!-- <div class="bar left">
          <div class="bary"></div>
          <h5>Portfolio</h5>
        </div> -->
        <div class="my-2">
          <h3 class="fw-bold">
            Une approche unique pour résoudre des défis complexes.
          </h3>
          <p class="my-4">
            Si vous êtes à la recherche d'un partenaire créatif pour votre prochain projet, vous êtes au bon endroit.
            Notre engagement envers la qualité et la satisfaction client est au cœur de tout ce que nous faisons.
          </p>
        </div>
      </div>
    </div>

    <div class="row my-5">
      <!-- <div class="col-md-12 mb-4">
        <h3 class="fw-bold text-primary">
          <i class="mdi mdi-arrow-right mx-4 title"></i> Les Sites Web
        </h3>
      </div> -->
      <div class="col-md-3 mt-4" *ngFor="let item of dataPortfolio">
        <a href="#" class="text-dark" (click)="getData(item)" style="text-decoration: none;" data-bs-toggle="modal"
          data-bs-target="#detail">
          <div class="card border-0 nav-card" style="height: 430px !important;">
            <img [src]="env + '/files/get?object=' + item?.image_cover_path[0].imageName"
              class="img-fluid img-portfolio" alt="" />
            <div class="p-4">
              <h5 class="text-dark mt-4 fw-bold">{{ item.title}}</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="detail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content bg-light border-0">
      <!-- <div class="modal-header">
        <h5 class="modal-title text-primary" id="exampleModalLabel">
          {{ dataSelect.title }}
        </h5>
      </div> -->
      <div class="modal-body">
        <button type="button" class="btn-close text-white" style="position: fixed;" data-bs-dismiss="modal" aria-label="Close">X</button>
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-10 offset-md-1 mb-4">
            <div class="card border-0 bg-white p-md-5 p-2 my-5">
                <h5 class="text-primary">{{ dataSelect.title }}</h5>
                <div class="my-2">
                  <p class="description text-dark" style="white-space: pre-line;" [innerHTML]="dataSelect.description">
                  </p>
                </div>
                <div class="my-2" *ngFor="let item of dataSelect.image_cover_path">
                  <img [src]="env + '/files/get?object=' + item.imageName" class="img-fluid" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
