@import './utils/variable.scss';

body {
  background-color: $light !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

/* Bootstrap Container Styles */
.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {

  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {

  .container,
  .container-sm,
  .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 1000px;
  }
}

@media (min-width: 1200px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1450px;
  }
}

.elephant {
  font-weight: 500;
}

.nav-card {
  background-color: $white;
  border-radius: 3px;
  // padding-left: 20px;
  // padding-right: 20px;
  // box-shadow: 0 1px 30px 0 rgb(0 0 0 / 0.1);
}

.img-logo {
  width: 40px;
}

.img-banner {
  width: 100%;
  height: 330px;
  object-fit: cover;
  border-radius: 3px;
}

.btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px !important;
  padding-right: 30px !important;

  &.btn-primary {
    background-color: $primary !important;
    border-color: $primary;
    border-radius: 3px;
    color: $white !important;
    font-weight: 600;
    transition: all ease-in-out 0.5s;

    &:hover {
      background-color: $primar !important;
      color: $white !important;
      transition: all ease-in-out 0.5s;
    }
  }

  &.btn-light {
    background-color: $white;
    border-color: $white;
    border-radius: 3px;
    color: $primary !important;
    font-weight: 600;
    transition: all ease-in-out 0.5s;

    &:hover {
      transition: all ease-in-out 0.5s;
      border-color: $primary;
    }
  }

  &.btn-lg {
    font-size: 14px;
    padding: 15px !important;
    padding-left: 35px !important;
    padding-right: 35px !important;
    border-radius: 3px;
  }

  &:focus {
    box-shadow: none;
  }
}

a {
  &:hover {
    color: $primary !important;
  }
}

.nav-item {
  a {
    color: $white !important;
    font-size: 15px;
    font-weight: 500;

    &.active {
      color: $primary !important;
      font-size: 15px;
      font-weight: 600;
    }

    &:hover {
      color: $primary !important;
      font-size: 15px;
    }

    &.text-dark {
      color: $dark !important;
      font-size: 15px;
      font-weight: 500;

      &.active {
        color: $primary !important;
        font-size: 15px;
        font-weight: 600;
      }

      &:hover {
        color: $primary !important;
        font-size: 15px;
      }
    }
  }
}

.top {
  margin-top: 80px;
}


.bar {
  padding: 10px;

  &.left {
    display: flex;
    align-items: center;
    justify-content: start;

    .bary {
      padding: 1px;
      background-color: $primary;
      border-radius: 3px;
      width: 2px;
      height: 40px;
    }

    h5 {
      margin-left: 10px;
      margin-top: 10px;
      color: $primary;
    }
  }
}

.title {
  font-weight: 600;
  word-spacing: 3px;
  font-size: 30px;
}

.title1 {
  font-weight: bold;
  word-spacing: 0px;
  letter-spacing: -1.5px;
  font-size: 28.5px;
  text-align: justify;
}

.title2 {
  font-weight: bold;
  word-spacing: 0px;
  letter-spacing: -1.5px;
  font-size: 23px;
}

.size {
  font-size: 18px !important;
  word-spacing: 0px;
  line-height: 28px;
  letter-spacing: -1.5px;
}

.description {
  word-spacing: 3px;
  font-size: 15px;
  text-align: justify;
}

.text-primary {
  color: $primary !important;
}

.img1 {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 3px;
}

.img2 {
  width: 100%;
  height: 620px;
  object-fit: cover;
  border-radius: 3px;
}

.img3 {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 3px;
  object-position: 100% 10%;
}


.img4 {
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
  object-position: 50%;
}

.img8 {
  width: 100%;
  height: 33vh;
  object-fit: cover;
  border-radius: 3px;
  object-position: 100% 10%;
}

.icon {
  width: 50px;
}

.img5 {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 3px;
  object-position: 100% 10%;
}

.img-z {
  width: 100%;
  height: 300px !important;
  object-fit: cover;
  border-radius: 3px;
  object-position: 100% 0%;
}

.about-h {
  height: 270px;
}

.a.text-white {
  color: $white !important;
}

.img-service {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 3px;
  object-position: 100% 10%;
}

.bg-dark {
  // height: 70vh;
  background-color: #000 !important;
  // background-image: url(../../images/banner/banner.png);
  // background-size: cover;
  // background-position: 50%;
}

.pd-left {
  padding-left: 50px;
}

.bg-light {
  background-color: $light !important;
}

.border-left {
  border-left: 1px solid $lighter !important;
}

.border-bottom {
  border-bottom: 1px solid $lighter !important;
}

.brd {
  border-color: $lighter !important;
  transform: scale(1.0);
  transition: all 0.3s ease-in;

  &:hover {
    border-color: $white !important;
    transform: scale(1.05);
    background-color: $white;
    box-shadow: 0 .125rem .25rem rgba(#000, .075);
    z-index: 1;
    transition: all 0.3s ease-in;
  }
}

.img-pub-card {
  border-radius: 3px;

  .img-pub {
    width: 100%;
    object-fit: cover;
  }
}

.service-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: bottom;
  border-radius: 0 0 3px 3px;
}

.border-radius {
  border-radius: 3px;
}

.bg-none {
  background-color: rgba($color: #000000, $alpha: 0);
}


.bg-dark1 {
  // height: 100vh;
  background-color: #000;
  // background-image: url(../../images/banner/banner.png);
  // background-size: cover;
  // background-position: 50%;
}

.text-right {
  text-align: right;
}

.img-portfolio {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 3px 3px 0 0;
}

.img-footer {
  width: 100px;
}

.hr {
  border: 1px solid $lighters !important;
}

.bary {
  width: 100px;
  padding: 1px;
  background-color: $primary;
}

.ul {
  list-style-type: none;
  margin-left: -28px;

  li {
    margin-top: 10px;
    font-size: 16px;
  }
}

.text-justify {
  text-align: justify !important;
}

.a {
  text-decoration: none;
  color: $dark !important;

  &:hover {
    color: $primary !important;
  }
}

.carousel.slide {
  button.carousel-control-prev {
    position: absolute;
    margin-top: 300px;
    width: 50px;
    height: 50px;
    background-color: $primary !important;
    border-color: $primary;
    border-radius: 3px;
    color: $white !important;
    transition: all ease-in-out 0.5s;

    &:hover {
      background-color: $primar !important;
      color: $white !important;
      transition: all ease-in-out 0.5s;
    }
  }

  button.carousel-control-next {
    position: absolute;
    margin-top: 300px;
    width: 50px;
    height: 50px;
    background-color: $primary !important;
    border-color: $primary;
    border-radius: 3px;
    color: $white !important;
    transition: all ease-in-out 0.5s;

    &:hover {
      background-color: $primar !important;
      color: $white !important;
      transition: all ease-in-out 0.5s;
    }
  }
}

.form-control {
  font-size: 14px;
  border-color: transparent;

  &:focus {
    box-shadow: none;
    border-color: $primary;
  }
}

.input {
  background-color: $light;
  border-color: $light;

  &:focus {
    box-shadow: none;
    background-color: $light;
    border-color: $primary;
  }
}


.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid $white;
  top: -10px;
}

.drop {
  position: relative;
  .drop-content {
    display: none;
    position: absolute;
    padding: 20px;
    background-color: $white;
    border-radius: 3px;
    width: 450px;
    z-index: 9;
  }

  &:hover {
    .drop-content {
      display: block;
      position: absolute;
      padding: 20px;
      background-color: $white;
      border-radius: 3px;
      width: 450px;
      z-index: 9;
    }
  }
}

.ul {
  .li a {
    font-size: 12px;

    &:hover {
      font-size: 12px;
    }
  }
}
