<section class="top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="bar left mb-4">
          <div class="bary"></div>
          <h5>A propos de nous</h5>
        </div>
        <div>
          <p class="description">
            En tant que prestataire de services numériques, nous sommes
            spécialisés dans l'accompagnement de nos clients dans la
            définition, l'élaboration et l'évaluation de leur stratégie de
            communication digitale afin d'améliorer leur visibilité et
            d'atteindre leur public cible. Nous offrons également des
            conseils en matière de conception graphique pour donner une
            nouvelle identité visuelle à leur entreprise. Nous sommes
            déterminés à aider nos clients à tirer parti de la puissance du
            numérique pour augmenter leur impact sur leur marché et
            atteindre leurs objectifs commerciaux. Chez Agence 07, notre
            engagement envers nos clients est notre priorité absolue. Forts
            des années d'expérience professionnelle dans le domaine du
            numérique, nous avons débuté sous le nom de DIAMONDTECH en 2014
            avant de nous repositionner en 2021 sous notre nouvelle identité
            avec une vision plus forte et des objectifs renouvelés. Nous
            sommes déterminés à offrir des services de qualité en matière de
            formation, de conseil et de mise en œuvre de stratégies de
            communication digitale efficaces pour les PME. Nous sommes fiers
            de notre équipe multidisciplinaire composée d'informaticiens, de
            développeurs, de graphistes, de formateurs, de traducteurs et de
            juristes, qui travaillent ensemble pour résoudre les défis
            technologiques et de marketing digital de nos clients. Nous
            sommes également engagés à soutenir les jeunes passionnés du
            numérique en leur offrant une formation de qualité pour leur
            permettre de réussir dans ce domaine en constante évolution.
            Nous sommes convaincus que notre approche professionnelle et
            notre engagement envers l'excellence permettent à nos clients de
            se concentrer sur leur propre réussite.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="top">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-3 brd">
        <div class="card p-4 border-0 nav-card">
          <h1 class="text-primary">
            <i class="mdi mdi-apps title"></i>
          </h1>
          <h4 class="text-dark mt-4 fw-bold">Missions</h4>
          <div class="mt-3">
            <ul>
              <li>Nous sommes impatients de collaborer avec vous et de contribuer à votre succès.</li>
              <li>Spécialisation en stratégies de communication digitale et conception graphique.</li>
            </ul>
          </div>
          <div class="mt-3">
            <h5>
              <!-- <a href="#">En savoir plus <i class="mdi mdi-arrow-right"></i></a> -->
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 brd border-left">
        <div class="card p-4 border-0 nav-card">
          <h1 class="text-primary">
            <i class="mdi mdi-calendar-multiple-check title"></i>
          </h1>
          <h4 class="text-dark mt-4 fw-bold">Ambitions</h4>
          <div class="mt-3">
            <ul>
              <li>Renforcer l'impact de nos clients sur leur marché.</li>
              <li>Dépasser les objectifs commerciaux grâce à l'innovation.</li>
            </ul>
          </div>
          <div class="mt-3">
            <h5>
              <!-- <a href="#">En savoir plus <i class="mdi mdi-arrow-right"></i></a> -->
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 brd border-left">
        <div class="card p-4 border-0 nav-card">
          <h1 class="text-primary">
            <i class="mdi mdi-checkbox-marked-outline title"></i>
          </h1>
          <h4 class="text-dark mt-4 fw-bold">Valeurs</h4>
          <div class="mt-3">
            <ul>
              <li>Excellence, qualité, satisfaction client.</li>
              <li>Transparence, intégrité, collaboration.</li>
            </ul>
          </div>
          <div class="mt-3">
            <h5>
              <!-- <a href="#">En savoir plus <i class="mdi mdi-arrow-right"></i></a> -->
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 brd border-left">
        <div class="card p-4 border-0 nav-card">
          <h1 class="text-primary">
            <i class="mdi mdi-content-paste title"></i>
          </h1>
          <h4 class="text-dark mt-4 fw-bold">Compétences</h4>
          <div class="mt-3">
            <ul>
              <li>Équipe multidisciplinaire d'experts.</li>
              <li>Résolution efficace des défis technologiques et de marketing.</li>
            </ul>
          </div>
          <div class="mt-3">
            <h5>
              <!-- <a href="#">En savoir plus <i class="mdi mdi-arrow-right"></i></a> -->
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 brd border-top">
        <div class="card p-4 border-0 nav-card">
          <h1 class="text-primary">
            <i class="mdi mdi-content-paste title"></i>
          </h1>
          <h4 class="text-dark mt-4 fw-bold">Engagement</h4>
          <div class="mt-3">
            <ul>
              <li>Priorité absolue envers nos clients.</li>
              <li>Soutien à l'éducation des passionnés du numérique.</li>
            </ul>
          </div>
          <div class="mt-3">
            <h5>
              <!-- <a href="#">En savoir plus <i class="mdi mdi-arrow-right"></i></a> -->
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 brd border-left border-top">
      </div>
      <div class="col-md-3 brd border-left border-top">
      </div>
      <div class="col-md-3 brd border-left border-top">
      </div>
    </div>
  </div>
</section>

<section class="top">
  <div class="container my-5">
    <div class="row my-4">
      <div class="col-md-10">
        <div class="bar left">
          <div class="bary"></div>
          <h5>L’expérience de l'équipe</h5>
        </div>

        <div class="my-2">
          <h3 class="title">
            Une équipe soudée, polyvalente, réactive et en communication
            constante avec les clients
          </h3>
        </div>
      </div>

      <div class="col-md-12">
        <div class="my-4">
          <p class="description">
            Nous sommes fiers de notre équipe hautement expérimentée,
            composée de passionnés qui ont à cœur de fournir un service
            optimal à nos clients. Chacun de nos membres possède plusieurs
            années d'expérience professionnelle dans le domaine du
            numérique, ce qui garantit une expertise pointue et une approche
            de travail rigoureuse. Nous sommes une équipe soudée,
            polyvalente, réactive et en communication constante avec nos
            clients pour répondre à leurs besoins et garantir une
            satisfaction optimale. Nous attachons une grande importance à
            l'analyse, à l'action pragmatique, à la productivité, au souci
            du détail et à l'exécution impeccable de chaque projet. Nous
            abordons chaque projet avec le même engagement que si c'était le
            nôtre, en mettant tout en œuvre pour garantir la
            réussite de nos clients.
          </p>
        </div>
      </div>
    </div>
    <div class="row my-4 align-items-center">
      <div class="col-md-3 brd">
        <div class="card p-4 border-0 nav-card">
          <img src="./assets/images/equipe/1.jpg" class="img-fuid img-z" alt="" />
          <div class="mt-3">
            <p class="text-justify">
              <small>
                En tant que professionnel polyvalent et passionné du
                graphisme, j'ai acquis une expertise en matière de
                conception de branding efficace pour aider les entreprises à
                communiquer leur message....
              </small>
              <br /><br />
              <strong> Ferdinand KPODZRO </strong>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 brd border-left">
        <div class="card p-4 border-0 nav-card">
          <img src="./assets/images/equipe/4.jpg" class="img-fuid img-z mt-4" alt="" />
          <div class="mt-3">
            <p class="text-justify">
              <small>
                Je suis un passionné de l'informatique. Avec mes 5 ans d'expérience dans le domaine de
                l'informatique plus précisément dans le domaine web et mobile, je suis toujours à l'affût de
                nouveaux défis.
              </small>
              <br /><br />
              <strong> Elisée MODJI </strong>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 brd border-left">
        <div class="card p-4 border-0 nav-card">
          <img src="./assets/images/equipe/3.png" class="img-fuid img-z" alt="" />
          <div class="mt-3">
            <p class="text-justify">
              <small>
                Developpeur Front-End Js et Flutter. Je suis capable de concevoir et de créer des applications
                web réactives et des applications mobiles multiplateformes
                performantes.
              </small>
              <br /><br />
              <strong> Fanuel Israël TOVEY </strong>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 brd border-left">
        <div class="card p-4 border-0 nav-card">
          <img src="./assets/images/equipe/1.jpg" class="img-fuid img-z" alt="" />
          <div class="mt-3">
            <p class="text-justify">
              <small>
                En tant que professionnel polyvalent et passionné du
                graphisme, j'ai acquis une expertise en matière de
                conception de branding efficace pour aider les entreprises à
                communiquer leur message....
              </small>
              <br /><br />
              <strong> Ferdinand KPODZRO </strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="top bg-light">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-3">
        <div class="card p-4 bg-white border-0">
          <div class="row align-items-center mt-3">
            <div class="col-md-2">
              <h1 class="text-primary">
                <i class="mdi mdi-arrow-right title"></i>
              </h1>
            </div>
            <div class="col-md-8">
              <h3 class="fw-bold">150+</h3>
              <p>Projets réalisés</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card p-4 bg-white border-0">
          <div class="row align-items-center mt-3">
            <div class="col-md-2">
              <h1 class="text-primary">
                <i class="mdi mdi-arrow-right title"></i>
              </h1>
            </div>
            <div class="col-md-8">
              <h3 class="fw-bold">270.000+</h3>
              <p>Visites</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card p-4 bg-white border-0">
          <div class="row align-items-center mt-3">
            <div class="col-md-2">
              <h1 class="text-primary">
                <i class="mdi mdi-arrow-right title"></i>
              </h1>
            </div>
            <div class="col-md-8">
              <h3 class="fw-bold">88+</h3>
              <p>Devis reçu</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card p-4 bg-white border-0">
          <div class="row align-items-center mt-3">
            <div class="col-md-2">
              <h1 class="text-primary">
                <i class="mdi mdi-arrow-right title"></i>
              </h1>
            </div>
            <div class="col-md-8">
              <h3 class="fw-bold">109+</h3>
              <p>Partenaires</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="my-5">
  <div class="container">
    <div class="card p-4 border-0 bg-white nav-card">
      <div class="row">
        <div class="col-md-6">
          <div class="bar left">
            <div class="bary"></div>
            <h5>Accréditée</h5>
          </div>
          <div class="my-2">
            <h3 class="title">Ils sont plusieurs a nous faire confiance</h3>
          </div>
        </div>
        <div class="col-md-6">
          <p class="description text-right my-5">
            Nous sommes convaincus que notre passion pour notre métier se
            reflète dans chaque tâche que nous accomplissons, et nous sommes
            impatients de partager notre savoir-faire et notre créativité
            avec nos clients.
          </p>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-md-2">
          <div class="card p-4 border-0 bg-white nav-card">
            <img src="./assets/images/partner/1.jpg" class="img-fluid" alt="" />
          </div>
        </div>
        <div class="col-md-2">
          <div class="card p-4 border-0 bg-white nav-card">
            <img src="./assets/images/partner/2.jpg" class="img-fluid" alt="" />
          </div>
        </div>
        <div class="col-md-2">
          <div class="card p-4 border-0 bg-white nav-card">
            <img src="./assets/images/partner/3.jpg" class="img-fluid" alt="" />
          </div>
        </div>
        <div class="col-md-2">
          <div class="card p-4 border-0 bg-white nav-card">
            <img src="./assets/images/partner/4.jpg" class="img-fluid" alt="" />
          </div>
        </div>
        <div class="col-md-2">
          <div class="card p-4 border-0 bg-white nav-card">
            <img src="./assets/images/partner/5.jpg" class="img-fluid" alt="" />
          </div>
        </div>
        <div class="col-md-2">
          <div class="card p-4 border-0 bg-white nav-card">
            <img src="./assets/images/partner/6.jpg" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
